{% extends 'layouts/base.html.twig' %}

{% block body %}

    <div id="react-app-locations"></div>

{% endblock %}

{% block javascript %}

<script>
  const mapbox_access_token = '{{ mapbox_access_token }}';
</script>
<script src="{{ asset('assets/main.js') }}"></script>

{% endblock %}
