{% extends 'layouts/base.html.twig' %}

{% block body %}

    <div class="row">
        <div id="map-view" class="col-md mt-3">
            <div id="map"></div>
        </div>
        <div id="map-list" class="col-md mt-3 pt-2 pb-2">
            <ul class="list-group"></ul>
        </div>
    </div>

{% endblock %}
