# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app,
# e.g. development, staging, production.
#
# http://symfony.com/doc/3.3/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:                      127.0.0.1
    database_port:                      ~
    database_name:                      craftybrew
    database_user:                      craftybrew
    database_password:                  ~
    database_charset:                   utf8mb4
    database_collate:                   utf8mb4_unicode_ci

    # The mapbox access token
    mapbox_access_token:                ~

    # A secret key that's used to generate certain security-related tokens
    secret:                             ThisTokenIsNotSoSecretChangeIt
